<?xml version="1.0"?>
<eslip>
  <configuration>
    <languages>
      <language>
        <name>Espa&amp;ntilde;ol</name>
        <code>es</code>
        <selected>1</selected>
      </language>
      <language>
        <name>English</name>
        <code>en</code>
        <selected>0</selected>
      </language>
    </languages>
    <pluginUrl>http://localhost/eslip-plugin/eslip/</pluginUrl>
    <callbackUrl>http://localhost/eslip-plugin/example/login.php</callbackUrl>
    <siteUrl>http://localhost/eslip-plugin/example/</siteUrl>
    <adminUser>nicolas</adminUser>
    <adminPass>3adb6313def794171d0e53d9d2a8b2fde64cf9e7</adminPass>
    <runWizard>0</runWizard>
  </configuration>
  <identityProviders>
    <identityProvider id="openid">
      <name>OpenID</name>
      <label>Login con OpenID</label>
      <active>1</active>
      <formUrl>frontend/openid_form.php</formUrl>
      <scopeRequired>contact/email</scopeRequired>
      <scopeOptional>namePerson,namePerson/friendly</scopeOptional>
      <userDataIdKey>openid_claimed_id</userDataIdKey>
      <immediate>0</immediate>
    </identityProvider>
    <identityProvider id="facebook">
      <name>Facebook</name>
      <label>Login con Facebook</label>
      <active>1</active>
      <oauth>2.0</oauth>
      <requestTokenUrl/>
      <dialogUrl>https://www.facebook.com/dialog/oauth?client_id={CLIENT_ID}&amp;redirect_uri={REDIRECT_URI}&amp;scope={SCOPE}&amp;state={STATE}</dialogUrl>
      <accessTokenUrl>https://graph.facebook.com/oauth/access_token</accessTokenUrl>
      <authorizationHeader>1</authorizationHeader>
      <urlParameters>0</urlParameters>
      <clientId>558393487512943</clientId>
      <clientSecret>3df424dffcdcb7516f775a4298e45b72</clientSecret>
      <scope>email</scope>
      <hasAccessTokenExtraParameter>0</hasAccessTokenExtraParameter>
      <accessTokenExtraParameterName/>
      <userDataUrl>https://graph.facebook.com/me</userDataUrl>
      <userDataIdKey>name</userDataIdKey>
    </identityProvider>
    <identityProvider id="twitter">
      <name>Twitter</name>
      <label>Login con Twitter</label>
      <active>1</active>
      <oauth>1.0a</oauth>
      <requestTokenUrl>https://api.twitter.com/oauth/request_token</requestTokenUrl>
      <dialogUrl>https://api.twitter.com/oauth/authenticate</dialogUrl>
      <accessTokenUrl>https://api.twitter.com/oauth/access_token</accessTokenUrl>
      <authorizationHeader>1</authorizationHeader>
      <urlParameters>1</urlParameters>
      <clientId>wmOE1qpl4IaDEt3uiBrX9g</clientId>
      <clientSecret>wyz5POiQUe8DekJ2tllmJd4ujiHwJihsnXf8Gpqq6A</clientSecret>
      <scope/>
      <hasAccessTokenExtraParameter>0</hasAccessTokenExtraParameter>
      <accessTokenExtraParameterName/>
      <userDataUrl>https://api.twitter.com/1.1/account/verify_credentials.json</userDataUrl>
      <userDataIdKey>name</userDataIdKey>
    </identityProvider>
    <identityProvider id="yahoo">
      <name>Yahoo</name>
      <label>Login con Yahoo</label>
      <active>0</active>
      <oauth>1.0a</oauth>
      <requestTokenUrl>https://api.login.yahoo.com/oauth/v2/get_request_token</requestTokenUrl>
      <dialogUrl>https://api.login.yahoo.com/oauth/v2/request_auth</dialogUrl>
      <accessTokenUrl>https://api.login.yahoo.com/oauth/v2/get_token</accessTokenUrl>
      <authorizationHeader>0</authorizationHeader>
      <urlParameters>0</urlParameters>
      <clientId>dj0yJmk9U0tVNXFnVFR0dlFtJmQ9WVdrOWNWRTNZWHBsTlRnbWNHbzlNVGt4TXpRMk5URTJNZy0tJnM9Y29uc3VtZXJzZWNyZXQmeD1hYQ--</clientId>
      <clientSecret>ad8f15daa63193c6878c3390e4745d3c9a3200ed</clientSecret>
      <scope/>
      <hasAccessTokenExtraParameter>1</hasAccessTokenExtraParameter>
      <accessTokenExtraParameterName>xoauth_yahoo_guid</accessTokenExtraParameterName>
      <userDataUrl>http://social.yahooapis.com/v1/user/{EXTRA_PARAMETER}/profile/usercard?format=json</userDataUrl>
      <userDataIdKey>nickname</userDataIdKey>
    </identityProvider>
    <identityProvider id="dropbox">
      <name>Dropbox</name>
      <label>Login con Dropbox</label>
      <active>0</active>
      <oauth>1.0</oauth>
      <requestTokenUrl>https://api.dropbox.com/1/oauth/request_token</requestTokenUrl>
      <dialogUrl>https://www.dropbox.com/1/oauth/authorize</dialogUrl>
      <accessTokenUrl>https://api.dropbox.com/1/oauth/access_token</accessTokenUrl>
      <authorizationHeader>0</authorizationHeader>
      <urlParameters>0</urlParameters>
      <clientId>ia0i2mutm4gxpkz</clientId>
      <clientSecret>im6osgjkhlvazwa</clientSecret>
      <scope/>
      <hasAccessTokenExtraParameter>0</hasAccessTokenExtraParameter>
      <accessTokenExtraParameterName/>
      <userDataUrl>https://api.dropbox.com/1/account/info</userDataUrl>
      <userDataIdKey>display_name</userDataIdKey>
    </identityProvider>
    <identityProvider id="bitbucket">
      <name>Bitbucket</name>
      <label>Login con Bitbucket</label>
      <active>0</active>
      <oauth>1.0a</oauth>
      <requestTokenUrl>https://bitbucket.org/!api/1.0/oauth/request_token</requestTokenUrl>
      <dialogUrl>https://bitbucket.org/!api/1.0/oauth/authenticate</dialogUrl>
      <accessTokenUrl>https://bitbucket.org/!api/1.0/oauth/access_token</accessTokenUrl>
      <authorizationHeader>1</authorizationHeader>
      <urlParameters>1</urlParameters>
      <clientId/>
      <clientSecret/>
      <scope/>
      <hasAccessTokenExtraParameter>0</hasAccessTokenExtraParameter>
      <accessTokenExtraParameterName/>
      <userDataUrl>https://api.bitbucket.org/1.0/user</userDataUrl>
      <userDataIdKey>---</userDataIdKey>
    </identityProvider>
    <identityProvider id="flickr">
      <name>Flickr</name>
      <label>Login con Flickr</label>
      <active>0</active>
      <oauth>1.0a</oauth>
      <requestTokenUrl>http://www.flickr.com/services/oauth/request_token</requestTokenUrl>
      <dialogUrl>http://www.flickr.com/services/oauth/authorize</dialogUrl>
      <accessTokenUrl>http://www.flickr.com/services/oauth/access_token</accessTokenUrl>
      <authorizationHeader>0</authorizationHeader>
      <urlParameters>0</urlParameters>
      <clientId>---</clientId>
      <clientSecret>---</clientSecret>
      <scope/>
      <hasAccessTokenExtraParameter>0</hasAccessTokenExtraParameter>
      <accessTokenExtraParameterName/>
      <userDataUrl>http://api.flickr.com/services/rest/?method=flickr.test.login&amp;format=json&amp;nojsoncallback=1</userDataUrl>
      <userDataIdKey>---</userDataIdKey>
    </identityProvider>
    <identityProvider id="foursquare">
      <name>Foursquare</name>
      <label>Login con Foursquare</label>
      <active>0</active>
      <oauth>2.0</oauth>
      <requestTokenUrl/>
      <dialogUrl>https://foursquare.com/oauth2/authorize?client_id={CLIENT_ID}&amp;scope={SCOPE}&amp;response_type=code&amp;redirect_uri={REDIRECT_URI}&amp;state={STATE}</dialogUrl>
      <accessTokenUrl>https://foursquare.com/oauth2/access_token</accessTokenUrl>
      <authorizationHeader>1</authorizationHeader>
      <urlParameters>0</urlParameters>
      <clientId>---</clientId>
      <clientSecret>---</clientSecret>
      <scope/>
      <hasAccessTokenExtraParameter>0</hasAccessTokenExtraParameter>
      <accessTokenExtraParameterName/>
      <userDataUrl>---</userDataUrl>
      <userDataIdKey>---</userDataIdKey>
    </identityProvider>
    <identityProvider id="github">
      <name>Github</name>
      <label>Login con Github</label>
      <active>0</active>
      <oauth>2.0</oauth>
      <requestTokenUrl/>
      <dialogUrl>https://github.com/login/oauth/authorize?client_id={CLIENT_ID}&amp;redirect_uri={REDIRECT_URI}&amp;scope={SCOPE}&amp;state={STATE}</dialogUrl>
      <accessTokenUrl>https://github.com/login/oauth/access_token</accessTokenUrl>
      <authorizationHeader>1</authorizationHeader>
      <urlParameters>0</urlParameters>
      <clientId>---</clientId>
      <clientSecret>---</clientSecret>
      <scope/>
      <hasAccessTokenExtraParameter>0</hasAccessTokenExtraParameter>
      <accessTokenExtraParameterName/>
      <userDataUrl>---</userDataUrl>
      <userDataIdKey>---</userDataIdKey>
    </identityProvider>
    <identityProvider id="google">
      <name>Google</name>
      <label>Login con Google</label>
      <active>0</active>
      <oauth>2.0</oauth>
      <requestTokenUrl/>
      <dialogUrl>https://accounts.google.com/o/oauth2/auth?response_type=code&amp;client_id={CLIENT_ID}&amp;redirect_uri={REDIRECT_URI}&amp;scope={SCOPE}&amp;state={STATE}</dialogUrl>
      <accessTokenUrl>https://accounts.google.com/o/oauth2/token</accessTokenUrl>
      <authorizationHeader>1</authorizationHeader>
      <urlParameters>0</urlParameters>
      <clientId>---</clientId>
      <clientSecret>---</clientSecret>
      <scope>https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile</scope>
      <hasAccessTokenExtraParameter>0</hasAccessTokenExtraParameter>
      <accessTokenExtraParameterName/>
      <userDataUrl>https://www.googleapis.com/oauth2/v1/userinfo</userDataUrl>
      <userDataIdKey>---</userDataIdKey>
    </identityProvider>
    <identityProvider id="linkedin">
      <name>LinkedIn</name>
      <label>Login con LinkedIn</label>
      <active>0</active>
      <oauth>1.0a</oauth>
      <requestTokenUrl>https://api.linkedin.com/uas/oauth/requestToken?scope={SCOPE}</requestTokenUrl>
      <dialogUrl>https://api.linkedin.com/uas/oauth/authenticate</dialogUrl>
      <accessTokenUrl>https://api.linkedin.com/uas/oauth/accessToken</accessTokenUrl>
      <authorizationHeader>1</authorizationHeader>
      <urlParameters>0</urlParameters>
      <clientId>---</clientId>
      <clientSecret>---</clientSecret>
      <scope>r_fullprofile r_emailaddress</scope>
      <hasAccessTokenExtraParameter>0</hasAccessTokenExtraParameter>
      <accessTokenExtraParameterName/>
      <userDataUrl>http://api.linkedin.com/v1/people/~?format=json</userDataUrl>
      <userDataIdKey>---</userDataIdKey>
    </identityProvider>
    <identityProvider id="windows">
      <name>Windows</name>
      <label>Login con Windows Live</label>
      <active>0</active>
      <oauth>2.0</oauth>
      <requestTokenUrl/>
      <dialogUrl>https://login.live.com/oauth20_authorize.srf?client_id={CLIENT_ID}&amp;scope={SCOPE}&amp;response_type=code&amp;redirect_uri={REDIRECT_URI}&amp;state={STATE}</dialogUrl>
      <accessTokenUrl>https://login.live.com/oauth20_token.srf</accessTokenUrl>
      <authorizationHeader>1</authorizationHeader>
      <urlParameters>0</urlParameters>
      <clientId>---</clientId>
      <clientSecret>---</clientSecret>
      <scope>wl.basic wl.emails</scope>
      <hasAccessTokenExtraParameter>0</hasAccessTokenExtraParameter>
      <accessTokenExtraParameterName/>
      <userDataUrl>https://apis.live.net/v5.0/me</userDataUrl>
      <userDataIdKey>---</userDataIdKey>
    </identityProvider>
    <identityProvider id="tumblr">
      <name>Tumblr</name>
      <label>Login con Tumblr</label>
      <active>0</active>
      <oauth>1.0a</oauth>
      <requestTokenUrl>http://www.tumblr.com/oauth/request_token</requestTokenUrl>
      <dialogUrl>http://www.tumblr.com/oauth/authorize</dialogUrl>
      <accessTokenUrl>http://www.tumblr.com/oauth/access_token</accessTokenUrl>
      <authorizationHeader>1</authorizationHeader>
      <urlParameters>0</urlParameters>
      <clientId>---</clientId>
      <clientSecret>---</clientSecret>
      <scope/>
      <hasAccessTokenExtraParameter>0</hasAccessTokenExtraParameter>
      <accessTokenExtraParameterName/>
      <userDataUrl>http://api.tumblr.com/v2/user/info</userDataUrl>
      <userDataIdKey>---</userDataIdKey>
    </identityProvider>
  </identityProviders>
</eslip>
