<h3 class="stepTitle" data-content="labels.idProvidersButtons"></h3>

<input type="button" id="new" class="pullRight" data-value="labels.btnNew"/>

<div class="borderBox">
  
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="idProviderButtonTable">
        <thead>
            <tr>
                <th width="20%" data-content="labels.id"></th>
                <th width="20%" data-content="labels.logo"></th>
                <th width="20%" data-content="labels.textColor"></th>
                <th width="20%" data-content="labels.backgroundColor"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div class="adminToolBar">
        
        <input type="button" id="edit" data-value="labels.btnEdit"/>
        <input type="button" id="delete" data-value="labels.btnDelete"/>
    </div>

    <div class="successMessage" style="display:none;" data-content="labels.messageSuccess"></div>
    <div class="errorMessage" style="display:none;" data-content="labels.messageError"></div>
  
</div>
            

